:root {
  --light-blue: #162234;
  --mid-blue: #001432;
  --dark-blue: #02070f;
  --dark-beige: #f7dba8;
  --light-beige: #fdf0d4;
  --logo-font: 'Pacifico', cursive;
  --heading-font: 'DM Serif Display', serif;
  --text-font: 'Open Sans', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  max-width: 2400px;
  box-sizing: border-box;
  font-size: 12pt;
  scroll-behavior: smooth;
  background-color: var(--dark-beige);
  font-family: var(--text-font);
  color: var(--mid-blue);
  cursor: default;
}

@media only screen and (min-width: 1200px) {
  .desktop-main-content {
    width: 80%;
    margin-left: auto;
  }
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}
